 @charset "UTF-8";
 
 /* Import Open Sans from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
 
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    src: url('/fonts/Raleway.woff2');
    font-display: swap;
    font-weight: 1 999;  
  }

  :root{
    /*--font-family: system-ui;*/
    --font-family: 'Merriweather', serif;
    --background: #FFFFEE;
    --text: #222;
  }

  body{
    text-align: center;
    background: var(--background);
    margin: 0%;
    font-family: var(--font-family);
    color: var(--text);
    font-size: 18px;
    font-weight: 400;
    min-height: 100vh;
    position: relative;
  }

  main{
    padding: 5% 1.5rem 9rem 1.5rem;
    box-sizing: border-box;
    max-width: 42rem;
    width: 100%;
    line-height: 1.6em;
    display: inline-block;
    text-align: left;
  }

  header{
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 3em;
  }

  header a{
    color: inherit;
    text-decoration: none;
    margin: 0rem 2rem;
    font-style: italic;
    padding: 4px 5px;
    font-weight: 400;
  }

  header a:hover{
    background: #ddd;
    border-radius: 5px;
    text-decoration: none;
  }

  li{
    margin: 0.5rem 0rem ;
  }

  h1{
    font-size: 3rem;
    line-height: 1.2em;
    font-weight: 900;
    margin: 1em 0em 0.5em 0em;
    text-align: center;
    max-width: 45rem;
    display: inline-block;
    font-family: Raleway;
  }

  h2, h3{
    margin: 2em 0em 0.75em 0em;
    line-height: 1.3em;
  }

  .post{
    margin-bottom: 1.8rem;
  }

  .post h3{
    margin: 1em 0em 0em 0em;
  }

  .post-description{
    font-size: 0.9rem;
    color: grey;
  }

  a{
     color: var(--theme);
     text-decoration: none;
     font-weight: 800;
  }

  a:hover{
    text-decoration: underline;
  }

  blockquote{
    border-left: solid 4px var(--text);
    padding-left: 1.5rem;
    margin: 2rem 1rem;
  }

  section{
    column-count: 2;
    column-gap: 4rem;
  }

  p{
    margin: 0px 0px 1.2rem 0px;
  }

  pre{
    margin: 1.5rem 0rem;
  }

  pre code{
    display: block;
    padding: 0.75rem 1rem;
    overflow-x: auto;
    font-family: monospace;
    font-size: 0.9em;
    background: #ddd;
    border-radius: 4px;
    white-space: pre;
  }

  code{
    font-family: monospace;
    font-size: 0.95em;
    padding: 0.1rem 0.25rem;
  }

  img{
    width: 100%;
    margin: 1rem 0rem;
  }

  table{
    column-span: all;
    width: 100%;
    text-align: left;
    margin: 2rem 0rem;  
  }

  th{
    font-size: 2rem;
  }

  td{
    padding: 1rem 0rem;
  }

  footer{
    width: 100%;
    border-top: solid 0.5px black;
    padding: 1rem 0rem;
    font-size: 14px;
    background: var(--text);
    color: var(--background);
    font-weight: 200;
    position: absolute;
    bottom: 0px;
  }

a.active {
    text-decoration: underline;
    font-weight: bold;
} 

.toc{
    border-left: solid 3px var(--text);
    padding-left: 1rem;
    margin: 1rem 0rem 2rem 0rem;
    font-size: 0.95em;
}

.toc ul{
    padding-left: 1rem;
    margin: 0.5rem 0rem;
}

.toc li{
    margin: 0.25rem 0rem;
}

.notebook-search{
    margin: 1rem 0rem 1.5rem 0rem;
}

.notebook-search input{
    width: 100%;
    padding: 0.6rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--text);
    border-radius: 4px;
    background: var(--background);
    box-sizing: border-box;
}

.notebook-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.notebook-list li{
    margin: 0.75rem 0rem;
}

.note-description{
    display: block;
    color: grey;
    font-size: 0.95rem;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.truths-table{
    border-collapse: collapse;
}

.truths-table th,
.truths-table td{
    padding: 0.75rem 0.5rem;
    vertical-align: top;
}

.truths-table th:first-child,
.truths-table td:first-child{
    white-space: nowrap;
    min-width: 9rem;
}

.truths-table td:nth-child(2),
.truths-table td:nth-child(3){
    word-break: break-word;
}
